html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

.portada {
    background-color: rgba(0, 0, 0, 0.738);
}

.center {
    text-align: center;
}

.logo {
    width: 21%;
    height: auto;
    margin-bottom: 20px;
    height: 50%;
    margin-top: 10%;

}

.logo:hover{
    cursor: pointer;
}

.welcome-text-1, .welcome-text-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}

.welcome-text-2 {
    letter-spacing: 3px;
    font-size: 50px;
}


.welcome-text-1, .welcome-text-2 {
    opacity: 1; /* Comienza invisible */
    transition: opacity 0.8s ease-in-out; /* Transición suave de opacidad */
}

/************************************ ESTILOS DEL INDEX**************************************/



/* Estilos del index */
.index {
    width: 100%;
    height: 100vh; 
}

.header {
    background-color: black;
    height: 20vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index-header-logo {
    width: 8%;
    margin: 1%;
    height: auto;
    animation: rotate 5s linear infinite;
}

.index-header-logo:hover {
    cursor: pointer;
}

.index-header-h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 5px;
}

.main {
    background-color: black;
    height: 80vh; 
}

.options {
    height: 100%; 
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.each-option{
    margin-top: 35vh;
}

.option-a{

        color: #f0f0f0; 
        text-decoration: none; 
        font-size: 1.2em; 
        transition: color 0.3s ease, background-color 0.3s ease; 
        padding: 10px 20px; 
        border-radius: 5px; 
    
}

.option-a:hover {
    color: #ffffff;
    background-color: #333333;
}




/****************************************REDES SOCIALES***************************************************/
.redes {
    background-color: black;
    width: 100%;
    min-height: 100vh; 
    padding: 20px 0; 
}

.grupo-redes-top {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    margin-right: 39%;
}

.redes-getback {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 5px;
    text-decoration: none;
    
}

.redes-getback:hover{
    cursor: pointer;
}

.redes-logo {
    width: 35vh;
    height: 35vh;
    margin-left: 24%;
    margin-right: 3%;
    
}

.grupo-redes {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px; 
    margin-top: 50px;
}

.redsocial {
    width: 30vh;
    height: auto;
    transition: transform 0.3s ease-in-out;
}


.enlaces-redes{
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}

.textosocial{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 5px;
    
}

.textosocial:hover{
    cursor: pointer;
}



.redsocial:hover {
    transform: scale(1.1); 
}


.nav-redes{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

/*****************************************LOCALIZACION**************************************************/

.mapa{
    width: 30%;
    height: 50vh;
    margin-left: 35%;
    margin-top: 3%;


}


/****************************************ANIMACIONES***************************************************/


/* Definir la animación de rotación */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}